<mat-toolbar class="header">
  <h1>Novakio</h1>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <h2>Sidebar</h2>
    <a href="/start">Start</a>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--Main content of Application-->
    <main>
      <div class="content">
        <div class="data">
          <p>{{ time }} {{ date }}</p>
        </div>
        <h1>Seja bem vindo a Novakio Daniel!</h1>
        <mat-form-field [formGroup]="data">
          <mat-label>Digitar</mat-label>
          <input matInput type="text" id="inptText" formControlName="text" />
        </mat-form-field>
        <button class="btn" mat-raised-button id="btn" (click)="createText()">
          Enviar
        </button>
        <div class="text-box">
          {{ apiText }}
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer"><span>testeeeeeeee</span></mat-toolbar>
