<!--
  // TODO: criar o layout como no diagrama
  // TODO: adicionar o link de navegação à sidebar
  // TODO: exibir a resposta da data-hora consultada na api
  // TODO: adicionar um input e um botão à página
  // TODO: criar um método POST no api.service que envie o texto do input e exiba a resposta na página
-->

<div class="content-master">
  <header class="title">
    <h1>Fullstack Test Angular</h1>
  </header>
  <body>
    <div class="sidebar">
      <a rel="stylesheet" href="start">Start</a>
    </div>
    <div class="content">
      <h3>
        {{ apiGreeting }}
      </h3>
      <p>data e hora</p>
      <div class="input-content">
        <input type="text" />
        <div class="button-content">
          <button>Enviar</button>
        </div>
      </div>
      <p>inserção pelo input</p>
    </div>
  </body>
</div>
